{% extends "layout.html" %}

{% block title %}Reviews for Drawing {{ drawing.drawing_number }}_R.{{ drawing.drawing_revision }}{% endblock %}
{% block content %}
<h1>Reviews for Drawing #{{ drawing.drawing_number }}_R.{{ drawing.drawing_revision }}</h1>

<div class="container mt-4">
    <!-- Add Comment Section -->
    {% if user.is_authenticated %}
        <h3 class="mb-3">Add a Review</h3>
        <form method="POST" action="{% url 'review_comment' drawing.id %}" enctype="multipart/form-data" class="mb-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_review" class="form-label">Your Comment</label>
                <textarea name="new_review" placeholder="Write your comment here..." class="form-control" rows="4" required></textarea>
            </div>
            <div class="form-group mt-3">
                <label for="attachment" class="form-label">Upload an Attachment (optional)</label>
                <input type="file" name="attachment" class="form-control-file">
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </div>
        </form>
    {% endif %}

<!-- "Back to Reviews" Button -->
<a href="{% url 'review_approval' %}" class="btn btn-secondary mt-3">Back to Approval</a>

<br><br>
    <!-- Display All Reviews -->
    <h3 class="mb-3">Reviews</h3>
    {% if all_reviews %}
        <ul class="list-group">
            {% for review in all_reviews %}
                <li class="list-group-item list-group-item-secondary">
                     <p>
                        <strong>User:</strong> {{ review.reviewer.username }} |
                        <small class="text-muted">Posted on: {{ review.created_at|date:"M d, Y H:i" }}</small>
                        {% if review.attachment %}
                        | <a href="{{ review.attachment.url }}" target="_blank" class="btn btn-link">View Attachment</a>

                        {% endif %}
                    </p>
                    <p>{{ review.review_comments }}</p>


                <!-- Show Edit button only for the review owner -->
                    {% if review.reviewer == user %}
                    <a href="{% url 'edit_review' review.id %}" class="btn btn-sm btn-primary">Edit</a>
                    {% endif %}
                    <br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">No reviews have been added yet!</p>
    {% endif %}
</div>


{% endblock %}
