{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              {% if "info" in message.tags %}
                  <div class="{{ message.tags }}">
                      <h1>{{ message }}</h1>
                  </div>
              {% endif %}
          {% endfor %}
    </ul>
   {% endif %}
   {% if won_list %}
      <h2>
        Auctions you have Won!!
      </h2>

    {% endif %}
    <ul>
        <div class="row max-3">
        {% for item in won_list %}
                <div class="card mx-2 my-3" style="width: 18rem;">
                  <a class=item_link href="{% url 'item' id=item.id %}">{{ item }}
                    <img src="{{ item.image }}" class="card-img-top" alt="{{ item.name }}">
                  </a>
                    <div class="card-body">
                      <p class="item-price">{{ item.current_price }}</p>
                      <p class="card-text">{{ item.description }}</p>

                    </div>
                  </div>

        {% endfor %}
    </div>
    </ul>
{% endblock %}
