{% extends "layout.html" %}

{% block title %}
    PasswordChange
{% endblock %}

{% block main %}
<h2>Change your password</h2>
<p></p>
    <form action="/pwchange" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_confirmation" name="new_confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Confirm Password change</button>
    </form>
{% endblock %}
