{% extends "network/layout.html" %}

{% block body %}
    <br>
    <h1><span class="username-highlight">{{ username }}'s</span> Profile</h1>
    <br>
    <h4>Followers: {{ followers }}</h4>
    <h4>Following: {{ following }}</h4>
           {% if user.is_authenticated %}
                {% if user != user_profile %}
                    {% if isFollowing %}
                        <form action="{% url 'unfollow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="userfollow" value="{{ user_profile.id }}" />
                            <button class="btn btn-danger" type="submit">Unfollow</button>
                        </form>
                    {% else %}
                        <form action="{% url 'follow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="userfollow" value="{{ user_profile.id }}" />
                            <button class="btn btn-success" type="submit">Follow</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}

    <br>
<!-- Post list -->
    <div class="all-posts">
        {% for post in posts %}
            {% include 'network/post.html' %}
        {% endfor %}
    </div>
<!-- Pagggination -->
    {% include "network/pagination.html" with items=posts %}

{% endblock %}
